.dual-slide {
  background: rgb(40,40,40);
  max-width: 750px;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  grid-area: slideshow;
  margin: 20px;
  margin-top: 60px;
  z-index: 5;
}
.mySlides1, .mySlides2 {display: none; z-index: 5;}

.slideshow-container1 {
  max-width: 800px;
  position: relative;border: rgb(40,40,40)solid 5px; 
}
.slideshow-container2 {
  max-width: 235px;
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

}

.slideshow-container2-alt {
  max-width: 204px;
  position: relative;
  display: grid;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* position: absolute;
  top: 50%; */
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev1, .next1{
  position: absolute;
  top: 50%;
}
.prev2, .next2{
  position: absolute;
  top: 3.25%;
}
.prev2{
  right:20%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.dot-line {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.dot {
  cursor: pointer;
  height: 4px;
  min-width: 50px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1150px){
  .dual-slide{display:inline-block;}
  .slideshow-container2{display: inline;}
  .prev2, .next2{
    position: absolute;
    top: 3.485%;
  }
  .next2{
    margin-left:450px;
    left:0%;
  }
  .prev2{
    margin-left:100px;
    left: 300px;}
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  /* padding: 8px 12px; */
  background: black;
  position: relative; 
  bottom: 40px;
  width: 100%;
  text-align: center;
  z-index:6;
}