.dual-slide {
  /* border: solid 5px rgb(255, 0, 200); */
  grid-area: slideshow;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  flex-shrink: 1;
  background: rgb(40,40,40);
  max-width: 800px;

  margin-top: 60px;
  z-index: 5;
}

.mySlides1, .mySlides2 {display: none; z-index: 5;}

.slideshow-container1 {
  /* border: solid 5px orange; */
}
.slideshow-container2 {
  max-width: 314px;
  /* border: solid 5px orange; */
  display: flex;
  flex-direction: column;
}
.container1-title{
  /* border: 5px solid green; */
}
.container2-title{
  /* border: 5px solid green; */
  display:flex;
  align-content: center;
  height:70px;
}
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev1, .next1{
  position: absolute;
  top: 50%;
}
.next {
  right: 50%;
  border-radius: 3px 0 0 3px;
}
.btn-S2{
  margin:0;
  /* border:solid 4px blue; */
  width: 1px;
  align-self: center;
  align-content: center;
}
.S2-element{
  /* border: solid 3px red;  */
  display:inline-block;
  
}
/* .spacer{
  border: solid 3px rgb(212, 255, 0);
  width:20px;
  height:60px;
}
   */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.dot-line {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.dot {
  cursor: pointer;
  height: 4px;
  min-width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1150px){
  .dual-slide{display:inline-block;}
  .slideshow-container2{max-width: 100%;}
 
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  background: black;
  /* position: relative; 
  bottom: 40px; */
  width: 100%;
  text-align: center;

}