.foot-div-1 {
    /* border:5px solid orange; */
    justify-self:center;
    margin: 20px;
    display: flex;
}

.foot-div-2 {
    /* border:5px solid orange; */
    display: grid;
    justify-content: center;  
    grid-template-columns: repeat(3,30%) ; 
     
}
.footer{
    grid-area: footer;
    background:rgb(55,55,55) ;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 400px;
    font-size: 12px;
    color: white;
    display: grid;
    grid-template-columns: 50% 50% ;
    align-content: space-around;
    justify-content: space-evenly;

}
.footer div ul{
    list-style: none;
    margin:20px;
}
.footer div ul li a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}
.list-head{
    font-weight: bold;
}
/* @media (max-width: 1100px){
    .foot-div-2{grid-template-columns: 100%;}
} */
@media (max-width: 990px){
    .footer{
        grid-template-columns: 68%;
        height: 600px;
    }
}
@media (max-width: 900px){
    .foot-div-2{
        grid-template-columns: 40%;
        align-items: center;   
    }
    .footer{
        height: 1300px;
        width:100%;
            }
}

.foot-logo{
    /* border:5px solid green; */
    width: 280px;
}
.logo-text{
    /* border:5px solid green; */
    position: relative;
    bottom:50px ;
    margin-left: 20px;
}
.social{
    /* border:5px solid green; */
    width:300px;
    display: flex;
    justify-content:flex-start;    
    position: relative;
    bottom:30px;
}
.foot-div-1 ul li a img{
    width: 30px;
    margin:20px;
}
.AFEM-logo{
    /* border:5px solid green; */
    width: 200px;
}