*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
body {
    margin-top: 57px;
    background:rgb(40,40,40);
    border:1px solid rgb(50,50,50);
    font-family: sans-serif;
    display: grid;
    grid-template-columns: AUTO 400px;
    grid-template-areas: 
    "navbar navbar"
    "slideshow top10"
    "footer footer";
    justify-content: center;
}
.main-page{
    margin-top: 55px;
}
.div-title{
    width: 100%;
    color: white;
    background: rgb(40,40,40);
    display:grid;
    align-content: center;
    text-align: start;
    font-size: 20px;

}
@media (max-width: 930px){
    body{
    grid-template-columns: 94%;
    grid-template-areas: 
    "navbar"
    "slideshow" 
    "top10"
    "footer";
    }
}
